/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#top{
	height: 29px;
	background-color :#2D2D2D;
	width:100%;
	z-index: 990;
	min-width:950px;
	opacity:1;
	position: absolute;	
}


#menu-main #top
{
	top : 0;
	left :0;
}

#menu-main{
	position : absolute;
	height :10px;
	z-index :991;
	white-space : nowrap
}	


ul
{
  list-style-type :none
}



a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #FFE1A2;
}

span{
	padding-left :10px;
	padding-right :10px
}
